/* 
DIAMM 
IE 8 CSS
 */



/* MS DATABASE */

a.reset.t9 {margin-left: 70px;}

#empty_controls {position: absolute; top: 43px;}

/* TOP NAVIGATION */

#ns .nvg a {cursor:pointer}

#t4 #ns .nvg a { padding-bottom: 8px;}

/* ADVANCED SEARCH */

#t2 #ns .nvg, #t6 #ns .nvg {width: 100%}

#t2 form input[type=checkbox] {border: 0 none;}

#t2 form a.hideButton {margin-top: 3px;}
#t2 .hdp {margin-top: 35px;}

/* LOGIN - my diamm*/

#t6 #cs {margin-left: 0;} 


.rp, #container, #wrapper, #t2 #wrapper {margin-top: 45px;}
#imageList {margin-top: 40px; }

/* COLLECTION MANAGEMENT */

#t6 #cs {margin-left: 20px;}

#t6 .c1 h2 {margin: 20px 0 0 20px;} 
#t6 #cs .box {margin: 10px 0 0 20px}

#collectionList a.m1 {background-position: -14px -60px;}
#collectionList a.m1:hover {background-position: 0 -60px;}

/* IMAGE VIEWER */


#t3 #ns .nvg {width: 100%}


#t3 #cs .viewerActions {margin-top: 45px;}
img.m0 {height: 50px;}



/* BIBLIOGRAPHY */

#contents, #bibliography, #relationships  {padding-top: 20px;}

#t2 .biblio li label {position: static;}
#t2 a.t9 {position: static; margin-left: 0;}


