/* 
DIAMM 
IE 9 CSS
 */


/* TOP NAVIGATION */

#ns .nvg a {cursor:pointer}
#t6 #ns .nvg a {font-size: 100%}

/* ADVANCED SEARCH */

/*#t2 #ns, #t6 #ns {position: absolute;}*/
#t2 #ns .nvg, #t6 #ns .nvg {width: 100%}

#t2 form a.hideButton {margin-top: 3px;}

#t2 form input[type=checkbox] {border: 0 none;}

#t2 .hdp {margin-top: 35px;}

/* LOGIN - MY DIAMM*/

#t6 #cs {margin-left: 0;}

/*.log {position: relative; top: 45px;}*/
.rp, #container, #wrapper,#t2 #wrapper {margin-top: 45px;}

#imageList {margin-top: 40px; }

/* COLLECTION MANAGEMENT */

#t6 #cs {margin-left: 20px;}

#t6 .c1 h2 {margin: 20px 0 0 20px;} 
#t6 #cs .box {margin: 10px 0 0 20px}

#collectionList a.m1 {background-position: -14px -60px;}
#collectionList a.m1:hover {background-position: 0 -60px;}


/* IMAGE VIEWER */

#t3 #ns {position: absolute;}
#t3 #ns .nvg {width: 100%}

#t3 #ns .nvg a {font-size: 100%;}

#t3 #cs .viewerActions {margin-top: 45px;}
img.m0  {height: 50px;}


/* FACETS*/

#composerFacet .fms {width: 170px;}
#composerPicker {position: absolute;}

/* BIBLIOGRAPHY */

#contents, #bibliography, #relationships  {padding-top: 20px;}


































#t2 .biblio li label {position: static;}