/* 
DIAMM 
IE 7 CSS
 */

/* HOME PAGE */

#t0 .ims p {position: relative; bottom:35px;}
#t0 .ims p a {float: none; margin-left: 300px;}


/* TOP NAVIGATION */

#ns .nvg a {cursor:pointer}

/* LOGIN PAGES - MYDIAMM */

#t6 #cs {margin-left: 0;}

/* COLLECTION MANAGEMENT */

#t6 #cs {margin-left: 20px;}

#collectionList a.m1 {background-position: -14px -60px;}
#collectionList a.m1:hover {background-position: 0 -60px;}

#t6 .c1 h2 {margin: 20px 0 0 20px;} 
#t6 #cs .box {margin: 10px 0 0 20px}



/* MS DATABASE */

.nvh h3 a.m0.t9 {position:relative; bottom: 25px;}
a.reset.t9 {margin-left: 70px;}

#empty_controls {position: absolute; top: 42px;}

.c1 .fms input[type=text] {width: 194px;}

/* 3 column layout */

#t1 #cs .c1 {width: auto;}
#t1 #cs .c2 {float: none; margin-left: 580px}


/* scrollbar */

#sourceFacet > ul {min-width: 260px; overflow-x: hidden;}

/* IMAGE VIEWER */

#t3 #ns {position: absolute;}
#t3 #ns .nvg {width: 100%}

#t3 #cs .viewerActions {margin-top: 45px;}

img.m0 {height: 50px;}

/* ADVANCED SEARCH */

/* topnav */

#t2 #ns .nvg, #t6 #ns .nvg {width: 100%}
#t3 #ns {width: 100%}

#t1 #ns .nvg a, #t2 #ns .nvg a, #t6 #ns .nvg a{padding-bottom: 8px;}
#t4 #ns .nvg a {font-size: 100%; padding-bottom: 8px;}



#t2 form a.hideButton {margin-top: 3px;}

#t2 form input[type=checkbox] {border: 0 none;}

#t2 .hdp {margin-top: 35px;}

.rp, #container, #wrapper, #t2 #wrapper {margin-top: 45px;}

#imageList {margin-top: 40px; }

/* FACETS */

#composerFacet > ul {overflow-x: hidden;}



/* BIBLIOGRAPHY */

#t2 .biblio li label {position: static;}
#t2 a.t9 {position: static; margin-left: 0;}



#contents, #bibliography, #relationships  {padding-top: 20px;}



 /* OVERLAY */
 
 .overlayContent #popupSummary dd p {float: none; margin-top: 20px;}



