
 body{background:#fff;font:13px/1.231 verdana,arial,helvetica,clean,sans-serif}

#t1	html, 
#t1 body {width:100%;height:100%;padding:0;margin:0;overflow:auto;}
#t1	#gw {height:100%;width:100%;}
#t1	#cs .g {height:100%;}	
#t1	#searchPane{padding:0;overflow:hidden;border:0}



#t0 .ims {width: 700px; margin: 0 auto;position:relative}
#t0 .ims p {position:absolute;bottom:0;background:url(../i/t0.ims.p.png); width:670px;padding:10px 15px;color:#fff;font-size:85%;}
#t0 .ims p a {float:right;border-bottom: 1px dotted #bc7476;color:#fff; line-height:normal}
#t0 .ims p a:hover {border-bottom:1px solid #fff}

#t0 .g.n3 {margin-top:20px;}



#ns {background:#b92025 url(../i/ns.png) 0 100% repeat-x;overflow:hidden}
#ns .nvg *{float:left;}
#ns .nvg{float:left;padding:0 0 0 20px;margin:0.5em 0}
#ns .nvg li{border-right: 1px dotted #cb585c;}
#ns .nvg li.ix{border:0}
#ns .nvg .s1 a,#ns .nvg .s1 a:hover,#ns .nvg .s2 a,#ns .nvg .s2 a:hover,#ns .nvg .s3 a,#ns .nvg .s3 a:hover,#ns .nvg a:hover{color:#fff;}
#ns .nvg .s5{color:#ccc;cursor:not-allowed;font-weight:700;padding:0;}
#ns .nvg a{color:#ddd;font-weight:700;padding:0;font-size:100%;padding:0.1em 9px 0.1em 10px}
.j #ns .nvg a{font-size:123.1%;}
#ns .nvg li{padding:0 1px 0 0;}

#bs {position:relative;height: 140px;}

#hs {background:#000 url(../i/bs.jpg) 0 0 no-repeat; }
#hs h3 a {background:url(../i/hs.h3.png) 0 0 no-repeat;position:absolute;top:5;left:20px;height:140px;text-indent:-9999px;width:353px;}
#hs h4{bottom:10px;left:20px;position:absolute;z-index:3;background:url(../i/hs.h4.png);display:block;height:20px;text-indent:-9999px;width:363px;}

#hs .gx {width: 519px;height:140px;background:url(../i/bs.gx.png) 0 0 no-repeat; position:absolute; right:0;top:0}

#hs .utl {right: 5px; top: 5px; position:absolute;z-index:30}
#hs .utl * {float:left}
#hs .utl li {font-size:85%;padding:5px 7px 5px 6px;border-right: 1px solid #333}
#hs .utl li.ix {border:0}
#hs .utl a {color:#fff}

#hs .utl {padding:5px 0}
#hs .utl label {color:#fff;float:none}
#hs .utl a.t10 {padding-left: 17px;background:url(../i/_s10.png) 0 0 no-repeat;}
#hs .utl a.t10.m4 {background-position: 0 0px }
#hs .utl a.t10.m4:hover {background-position: 0% -29px }
#hs .utl a.t10.m5 {background-position: 0 -15px }
#hs .utl a.t10.m5:hover {background-position: 0% -44px }
#hs .utl a.t10.m6 {background-position: 0 -58px }
#hs .utl a.t10.m6:hover {background-position: 0% -72px }


 
#t1 .u.u1 {background:#f4f2ef url(../i/u1.png) 100% 50% no-repeat;width: 280px;}
#t1 .u.u2 {width: 280px;padding:0 5px}
.u {float:left}

#t1 #cs .u h2 {color:#930181b; font-size:138.5%;padding: 10px 10px 0 10px}

.n3 .u {width:33%}


.nvh{padding:0 10px}

#cs .c1 h3 {color:#90181b;font-size:131%}

/*
f4f2ef
 - b92025 light red
 - 90181b - dark red
362d22
7f6e57 
928476
9d8874
c8bdb1
d8d1cc
e8e3df
f9f4f2

*/

#t0 .u {}
#t0 .u1 > * {margin:0 30px 0 10px}
#t0 .u2 > * {margin:0 20px}
#t0 .u3 > * {margin:0 0 0 30px}

#t0 .u1 h3 {margin:0 20px 0 0}
#t0 .u2 h3 {margin:0 10px}
#t0 .u3 h3 {margin:0 0 0 20px}

#t0 .u h3 {background:#e8e3df;padding:5px 10px}

#t0 .u p {color:#362d22;font-size:85%;line-height:1.65em}

.itl li {font-size:85%;color:#928476;line-height:1.65em;padding:0 5px;}
#cs .itl li p{ font-size:100%}

.itl.m0 li {overflow:hidden}
.itl.m0 li img {float:left; padding:0 5px 0 0}
.itl.m0 li h4 {color:#90181b;font-weight:bold}
.itl.m0 li  p {color:#362d22;}

.itl.m3 {border:2px solid #e8e3df;padding:5px;margin:10px;background:#fff}
.itl.m3 h3 { font-weight:700;color:#90181b; text-transform:uppercase;font-size:85%;padding:.4em 0 .7em 5px }
.itl.m3 li:hover {background:#f9f4f2;-moz-border-radius:3px}
.itl.m3 a.t9.m3{width:12px; height:12px; float:right;margin-top:4px; background:url(../i/_a0.png) -14px -89px no-repeat;text-indent:-5000px}
.itl.m3 a.t9.m3:hover{background-position: 0px -89px}
.itl.m3 a.t9 {background-color:#fff}

.nvh li {font-size:85%;color:#928476;line-height:1.65em;}
.nvh > li { background:url(../i/nvh.li.png) 50% 0 no-repeat}
.nvh h3 { font-weight:700;color:#362d22; text-transform:uppercase;padding:.7em 0;border-top:1px dotted #d8d1cc;margin-top:.7em}
.nvh li li {font-size:100%;border:0;padding:0 0 0 16px; background:url(../i/_a0.png) -43px 0.7em no-repeat	}

.nvh a {color:#7f6e57;}
.nvh a:hover {color:#90181b;}

.nvh dfn {background:#ece8e4;color:#9d8874;-moz-border-radius:3px;padding:2px 3px;font-size:85%;font-weight:700;cursor:help;border:1px solid #d8d1cc;display:inline-block;margin-top:2px}
.nvh label a {border-bottom:1px dotted #d8d1cc;}
.nvh label a:hover {border-bottom:1px solid #90181b;}

a.t9 {background:#f4f2ef url(../i/_a0.png) no-repeat; text-indent:-5000px; }


.nvh h3 a.t9.m0{width:12px; height:6px; float:right;margin-top:2px}
.nvh a.t9.m0.s6 {background-position:-14px -24px}
.nvh a.t9.m0.s6:hover {background-position:0 -24px}
.nvh a.t9.m0.s7 {background-position:-14px -42px}
.nvh a.t9.m0.s7:hover {background-position:0 -42px}

.nvh ul a.t9.m0{width:12px; height:12px; float:left; margin:4px 3px 0 -16px}
.nvh ul a.t9.m0.s6 {background-position:-14px 0}
.nvh ul a.t9.m0.s6:hover {background-position:0 0}
.nvh ul a.t9.m0.s7 {background-position:-14px -12px}
.nvh ul a.t9.m0.s7:hover {background-position:0 -12px}
 
a.t9.m1 {background-position:-14px -60px;display:inline-block;width:12px;height:14px;line-height:normal;}
a.t9.m1:hover {background-position:0 -60px}
a.t9.m2 {background-position:-14px -74px;display:inline-block;width:14px;height:14px;line-height:normal;padding-top:1px}
a.t9.m2:hover {background-position:0 -74px}

a.t9.m4 {background-position:-14px -101px;width:14px;height:14px;line-height:normal;float:right;margin-right:3px}
a.t9.m4:hover {background-position:0 -101px}
 
.c1 .fms input[type=text] {border: 1px solid #d8d1cc;padding:5px;color:#362d22;width:222px}
.c1 .fms fieldset * {float:left;font:100% Verdana, Geneva, sans-serif;}
.c1 .fms fieldset{position:relative;font-size:100%;}
.c1 .fms fieldset.m0 label {position:absolute; left: 6px; top: 6px}
.c1 button {background:#d8d1cc;border:0;padding:4px 2px 3px 2px;font-weight:700;cursor:pointer;float:left}






button b {width:12px;height:6px;background:url(../i/_a0.png) -14px -42px no-repeat;float:left;text-indent:-5000px}
.fms button b {background:url(../i/_a0.png) 0 -115px no-repeat;width:16px;height:16px;}
button:hover b{background-position:-28px -115px}
.c1 .fms fieldset:hover input[type=text] {border-color:#c8bdb1;}
.c1 .fms fieldset:hover button{background-color:#c8bdb1;}

.fms .m1 li {background:none;padding:0}
.fms .m1 input[type=radio] {float:left;margin-right:7px}
.fms .m1 label {float:left;color:#9d8874;font-size:85%;font-weight:700;text-transform:uppercase;padding:4px 1px 0 0}

.nvz{overflow:hidden;margin:10px 0;}
.nvh .nvz .s1 {background:#90181b;color:#fff}
.nvh .nvz .s5 {background:none;color:#c8bdb1;cursor:not-allowed}
.nvh .nvz .s5,
.nvh .nvz .s1,
.nvh .nvz a{padding:1px 4px 0; width:1.12em;text-align:center}
.nvh .nvz a:hover{background:#9d8874;border:0 none;color:#fff}
.nvh .nvz li{background:#e8e3df;margin:0 3px 3px 0;padding:0}
.nvh .nvz li,
.nvh .nvz a{border:0 none;color:#666;float:left;line-height:1.65em; font-weight:700} 

dl, ul.m1 {font-size:85%;color:#7f6e57;margin:0 10px}
ul.m1  {margin: 10px 0}
dt {line-height:1.65em;font-weight:700;margin:5px 0 0 0}
dd, ul.m1 li {line-height:1.65em;padding:0 0 0 16px; background:url(../i/_a0.png) -43px 0.7em no-repeat}

#cs .utl {border:2px solid #e8e3df;padding:5px;margin:10px;background:#f9f4f2;overflow:hidden}
#cs .utl li {line-height:1.65em;font-size:85%;color:#7f6e57;}
#cs .utl li label {font-weight:700}
#cs .utl b.s1{font-weight:bold;color:#90181b}
#cs .utl a{color:#7f6e57;border-bottom:1px dotted #d8d1cc; }
#cs .utl a:hover {color:#90181b;border-bottom:1px solid #90181b;}




/*
f4f2ef
 - b92025 light red
 - 90181b - dark red
362d22
7f6e57 
928476
9d8874
c8bdb1
d8d1cc
e8e3df
f9f4f2

*/
.u2 .itp {border-top:2px solid #e8e3df;margin:10px;}
.itp a:hover{background:#7f6e57;border:0 none;color:#fff}
.itp li{background:#e8e3df;font-size:93%;margin:0 5px 0 0;padding:0;font-size:85%}
.itp li ul {display:none; position:absolute;width:150px;top:22px; background:#f9f4f2;padding:3px 0 2px 3px;opacity:0.9;z-index:100;border: 1px solid #e8e3df;}
.itp li:hover ul {display:block}
.itp li li {font-size:100%;margin:0 3px 3px 0;background:none}
.itp li li a{width:1.4em;text-align:center}
.itp .s4 > a{background:url(../i/_a1.png) 100% 5px no-repeat}
.itp .s4 > a:hover,.itp .s4:hover > a{background:#7f6e57 url(../i/_a1.png) 100% -35px no-repeat;color:#fff;}
.itp li,.itp a{border:0 none;color:#7f6e57;float:left;line-height:1.65em}
.itp .s1{background:#90181b;color:#fff}
.itp .s5{background:#fff;color:#c8bdb1}	
.itp .s5,.itp .s1,.itp a{padding:1px 3px 0}
.itp .s5{cursor:not-allowed}


.itp h3 {font-weight:700;color:#362d22; text-transform:uppercase;padding:.7em 0;font-size:85%}

/*
.itp ul {float:left;}
.itp .fms {float:right;
*/
.itp ul{position:relative}
.itp .fms {font-size:85%;color:#928476;line-height:1.65em;border-top:1px dotted #d8d1cc;margin-top:.7em;}
.itp .fms input[type=text]{width:80px}


.c1 .ui-autocomplete-input {float:left;border: 1px solid #d8d1cc;padding:5px;color:#362d22;width:222px;font: 100% Verdana, Geneva, sans-serif;color:#362d22;}
button.ui-button {padding:8px 2px 9px 2px;}
ul.ui-autocomplete {background: #fff; opacity:.9;width:222px;border: 1px solid #d8d1cc;padding:5px;}
ul.ui-autocomplete li {font-size:85%;color:#928476;}
ul.ui-autocomplete li a * {line-height:1.65em;}
ul.ui-autocomplete li a {display:block;padding:3px 1px;}
ul.ui-autocomplete li strong {color:#7f6e57;}
ul.ui-autocomplete li a:hover {background:#f9f4f2;cursor:pointer}

#t3 #cs, #t2 #cs  {padding:10px 20px}


#t3 .hdp {overflow:visible;}

.hdp h1 {color:#90181b; font-size:153.9%;line-height:1.65em;border-bottom:2px solid #e8e3df;margin:10px 0;}
/*.hdp h2 {color:#7f6e57; font-size:138.5%;line-height:1.65em}
*/

#t3 .hdp {background:#e8e3df; float:left;width:100%;clear:both}
#t3 .hdp .itp {position:relative; padding:10px}
#t3 .hdp h1 {float:left;font-size:85%; font-weight: bold;color:#362d22;padding:10px;margin:0;}

#t3 .imb {overflow:hidden;clear:both}
#t3 #cs .utl {width:300px;float:right}

#t3 h3 {color:#7f6e57;line-height:1.65em;text-transform:uppercase;font-size:85%;border-bottom:1px dotted #e8e3df;font-weight:700}

img.m0 {float:right; max-width: 200px;max-height:50px;height:auto;margin:10px 0 0 0}

dl.m0 {}
dl.m0 dt {}
dl.m0 dd {background:none;}

dl.m0{overflow:hidden;margin:0 0 1.2em}
dl.m0 dd{line-height:1.65em;padding:2px 0 2px 16.289em}
dl.m0 dd *{line-height:1.65em}
dl.m0 dt{float:left;width:14.479em;padding:2px 0;margin:0}



dd a {border-bottom:1px dotted #d8d1cc;color:#362d22}
dd a:hover {border-bottom:1px solid #90181b;color:#90181b}

ul.m0 li {font-size: 85%; line-height: 1.65em;border-bottom:1px dotted #e8e3df;padding:5px 0}
ul.m0 i {background:#ece8e4;color:#9d8874;-moz-border-radius:3px;padding:2px 3px;font-size:85%;font-weight:700;border:1px solid #d8d1cc;display:inline-block;margin-top:2px}
ul.m0 label {color:#7f6e57;}
ul.m0 p {line-height:1.65em;margin-top:0.65em;color:#362d22;}

#t2 form fieldset li * {float:left  } 
#t2 form fieldset * {float:left;font:100% Verdana, Geneva, sans-serif;}

#t2 form  input,
#t2 form  select {font-size:85%;font-family:Verdana, Geneva, sans-serif}
#t2 form  input {border: 1px solid #d8d1cc;padding:5px;color:#362d22;}
#t2 form li.m0 {/*background:#f9f4f2; border:2px solid #e8e3df; -moz-border-radius:3px;*/padding:5px}

#t2 form  select {border: 1px solid #d8d1cc;padding:4px;color:#362d22;margin: 0 5px 0 0}
#t2 form #c1 {padding:5px 5px 5px 88px}
#t2 form li {margin: 0 0 10px 0}
#t2 form  a.t9.m3{width:12px; height:12px; float:left;margin:7px 6px 0 0; background:url(../i/_a0.png) -14px -89px no-repeat;text-indent:-5000px}
#t2 form  a.t9.m3:hover{background-position: 0px -89px}

#t2 .utl {margin:0}

    .c{position:relative}

#t1 #cs .c1{background:#fff;padding:10px 30px}
#t1 #cs .c2{background:url(../i/cs.c2.png) 57px 0 no-repeat;width:16.923em;min-height:288px}
#t1 #cs .cg{min-height:400px}

#t1 .cg .c{float:left;width:16.923em}
#t1 .cg .m{float:right;margin-left:-16.923em}
#t1 .cg .m .c{float:none;margin-left:16.923em;width:auto}

#t0 .cg .c{float:right;width:18.461em}
#t0 .cg .m{float:left;margin-right:-18.461em}
#t0 .cg .m .c{float:none;margin-right:18.461em;width:auto;padding: 0 20px;}

#t0 #cs {overflow: hidden; background:url(../i/t0.cs.png) 100% 0 repeat-y}


.m{width:100%}
 
.nvs{background:#fff;overflow:hidden;padding:19px 0 0 244px}
.nvs h3{color:#669;font-size:85%;line-height:normal;margin:1px 3px 2px 5px;font-weight:700}
.nvs h3,.nvs a,.nvs .s1,.nvt *{float:left}
.nvs li{background:url(../i/_a1.png) no-repeat 100% .35em;float:left;line-height:normal;margin:1px 0 2px 7px;padding:0 10px 0 0}
.nvs li a{border-bottom:1px solid #ececf2;color:#669;font-size:85%;line-height:normal}
.nvs li.ix{color:#336;font-size:85%;font-weight:700;padding:0;background:none} 

.c2 h3{color:#90181b;font-size:131%;font-weight:400;margin:0 0px;padding:28px 0 6px 0px;text-transform:none}
#t0 .c2 > * {margin: 0 10px}
.c2 #twitter ul {border-top:1px dotted #d8d1cc;}
.c2 #twitter li {font-size:85%;color:#362d22;line-height:1.65em;border-bottom:1px dotted #d8d1cc;padding:5px 0;}
.c2 #twitter a {color:#7f6e57;border-bottom:1px dotted #d8d1cc;}
.c2 #twitter a:hover {color:#90181b;border-bottom:1px solid #90181b;}
.c2 #twitter p {margin:5px 0 0 0}
.c2 #twitter p a {background:#ece8e4;color:#9d8874;-moz-border-radius:3px;padding:2px 3px;font-size:77%;font-weight:700;border:1px solid #d8d1cc;display:inline-block;margin-top:2px}
.c2 #twitter p a:hover {background:#d8d1cc;border:1px solid #d8d1cc;}

/*
f4f2ef
 - b92025 light red
 - 90181b - dark red
362d22
7f6e57
928476
9d8874
c8bdb1
d8d1cc
e8e3df
f9f4f2
*/
.c2 .nvl{border-top:1px dotted #ddd;float:left;margin:2px 20px 30px}
.c2 .nvl li{border-bottom:1px dotted #ddd;float:left}
.c2 .nvl li a{color:#669;float:left;font-size:93%;font-weight:700;line-height:1.55em;padding:4px 3px;text-decoration:none;width:174px}
.c2 .nvl li a:hover,.c2 .nvl li.s1 a{background:#ededf3;color:#336}

.c2 .nvl ul ul li {border:0px none;background:url(../i/_a1.png) no-repeat .65em .65em;}
.c2 .nvl ul .s1 ul li a,
.c2 .nvl ul ul li a {padding:1px 3px 1px 18px;width:159px;background:none}
.c2 .nvl ul ul li a:hover,
.c2 .nvl ul ul li.s1 a {background:none;}
.c2 .nvl ul ul li.s1 a b {font-weight:700}


#fs{margin:40px 0 0 0}
#fs .r1{background:#fff url(../i/fs.r1.png) 50% 0 no-repeat;overflow:hidden;position:relative;width:100%;padding:10px 0}
#fs .r2{background:#fff url(../i/fs.r2.png) 0 0 repeat-x;overflow:hidden;padding:10px 20px 20px 20px;position:relative}
#fs .r2 .gx{background:url(../i/fs.gx.png) 0 0 no-repeat;border:0 none;height:50px;position:absolute;top:10px;right:20px;text-indent:-5000px;width:91px}
#fs .r2 a{color:#7f6e57;border-bottom:1px dotted #d8d1cc;float:left;line-height:normal}
#fs .r2 a:hover{color:#90181b;border-bottom:1px solid #90181b;}
#fs .r2 li{border-right:1px dotted #d8d1cc;float:left;font-size:85%;margin:0 8px 0 0;padding:0 9px 0 0}
#fs .r2 li.ix{border:0 none}
#fs .r2 ul{line-height:1.65em;overflow:hidden;padding:5px 0}
#fs p{color:#7f6e57;font-size:85%;line-height:1.8em} 

#fs .img{float:left;left:50%;padding:20px 0;position:relative} 
#fs .img *{float:left;text-align:center}
#fs .img li{float:left;margin:0 20px 0 0;position:relative;right:50%}


.nvt{background:url(../i/nvt.png) 0 100% repeat-x;margin:20px 0 0;overflow:hidden;padding:0 0 0 8px}
.nvt .s1 {background:url(../i/_a2.png) 100% -210px no-repeat}
.nvt .s1 b,.nvt .s1 a:hover b{background:url(../i/_a2.png) 0 -42px no-repeat}
.nvt .s5 {background:url(../i/_a2.png) 100% -294px no-repeat}
.nvt .s5 b,.nvt .s5 a:hover b{background:url(../i/_a2.png) 0 -126px no-repeat;color:#cecee5;cursor:not-allowed}
.nvt a{background:url(../i/_a2.png) 100% -252px no-repeat;border:0 none}
.nvt a:hover{background:url(../i/_a2.png) 100% -168px no-repeat;border:0 none}
.nvt a:hover b{background:url(../i/_a2.png) 0 0 no-repeat}
.nvt a:hover b,.nvt .s1 b{color:#336}
.nvt b{background:url(../i/_a2.png) 0 -84px no-repeat;color:#669;font-weight:700;margin:0 15px 0 0;padding:10px 0 8px 8px}




/*
10 	 77
11 	85
12 	93 (was 93)
13 	100
14 	108 (was 107)
15 	116 (was 114)
16 	123.1 (was 122)
17 	131 (was 129)
18 	138.5 (was 136)
19 	146.5 (was 144)
20 	153.9 (was 152)
21 	161.6 (was 159)
22 	167
23 	174
24 	182
25 	189
26 	197 
*/
